.eventIcons{
    /* margin-top: 0.5rem; */
}

a.upcomingEventLinks:link{
    text-decoration:none;
    font-weight:bold;
    color:#212529;
}

a.upcomingEventLinks:active{
    color:#212529;
}

a.upcomingEventLinks:visited{
    color:#212529;
}

a.upcomingEventLinks:hover{
    color:#484c4f;
}

a.eventLinks:link{
    text-decoration:none;
    font-weight:bold;
    color:#ffffff;
}

a.eventLinks:hover{
    color:#484c4f;
}

a.universeTicketButton:link{
    text-decoration:none;
    font-weight:bold;
    color:#000000;
}

a.universeTicketButton:visited{
    color:#212529;
}

a.universeTicketButton:hover{
    color:#5c5648;
}

a.footerLinks{
    color:#212529;
    text-decoration:none;
}

a.footerLinks:hover{
    color:#acaac0;
}

#emailFormLink a{
    color:#ffffff;
}

i.paymentMethodIcons{
    font-size:1.75em;
}

i.commonPaymentMethods{
    font-size:1.5em;
}




/* Background images used within the sections */

/* for images >=2021 CSS avif/webp background image */
.image-set-bg-img-sec-bookInHand {
    background-image: url('../img/jpg/book_in_hand_compressed.jpg'); /* fallback for non image-set browser */
    background-image: -webkit-image-set(
        url("../img/avif/book_in_hand_compressed.avif") 1x /* type("image/avif") */,
        url("../img/webp/book_in_hand_compressed.webp") 1x /* type("image/webp") */, 
        url("../img/jpg/book_in_hand_compressed.jpg") 1x /* type("image/jpg") */
    );
    background-image: image-set(
        url("../img/avif/book_in_hand_compressed.avif") 1x,
        url("../img/webp/book_in_hand_compressed.webp") 1x,
        url("../img/jpg/book_in_hand_compressed.jpg") 1x
    );
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Author section */
.image-set-bg-img-sec-author {
    background-image: url('../img/png/linedpaper.png'); /* fallback for non image-set browser */
    background-image: -webkit-image-set(
        url("../img/avif/linedpaper.avif") 1x /* type("image/avif") */,
        url("../img/webp/linedpaper.webp") 1x /* type("image/webp") */, 
        url("../img/png/linedpaper.png") 1x /* type("image/jpg") */
    );
    background-image: image-set(
        url("../img/avif/linedpaper.avif") 1x,
        url("../img/webp/linedpaper.webp") 1x,
        url("../img/png/linedpaper.png") 1x
    );
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Should work for most browser pre 2021: CSS avif/webp background image */
/* Top opening section */
.bg-img-sec-bookInHand {
    height: 30rem;
    background-repeat: repeat;
    /* background-size: cover; */
    background-image: url('../img/jpg/book_in_hand_compressed.jpg');
}

.bg-img-sec-bookInHand {
    background-image: url('../img/webp/book_in_hand_compressed.webp');
}

.bg-img-sec-bookInHand {
    background-image: url('../img/avif/book_in_hand_compressed.avif');
}

/* Author section */
.bg-img-sec-author{
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/png/linedpaper.png');
}

.bg-img-sec-author {
    background-image: url('../img/webp/linedpaper.webp');
}

.bg-img-sec-author {
    background-image: url('../img/avif/linedpaper.avif');
}
